body {
    background-color: #E3EAF3; /* 밝은 블루그레이 배경색 */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 16px; /* 기본 글자 크기 */
}

.container {
    text-align: center;
    background-color: #F0F4F8; /* 기존보다 명도 높은 배경색 */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 40px;
    color: #343A40; /* 짙은 회색 텍스트 */
    font-size: 24px; /* 헤더 글자 크기 */
}

a.btn, button.btn {
    display: block;
    background-color: #007ACC; /* 선명한 파란색 버튼 */
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* 버튼 글자 크기 */
    text-align: center; /* 추가 */
}
button.login-btn {
    display: block;
    width: 100%;
    background-color: #007ACC; /* 선명한 파란색 버튼 */
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* 버튼 글자 크기 */
    text-align: center; /* 추가 */
}
a.btn:hover, button.btn:hover {
    background-color: #005f99; /* hover 효과를 위한 더 진한 파란색 */
}

.settings-icon {
    margin-top: 20px;
}

.settings-icon a {
    color: #343A40; /* 아이콘 색상 */
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.settings-icon a:hover {
    color: #007ACC; /* 아이콘 hover 색상 */
}

.input-field {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* 입력 필드 글자 크기 */
}

.footer-links {
    margin-top: 20px;
    color: #6C757D;
    font-size: 14px;
}

.footer-links a {
    color: #007ACC;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px; /* 푸터 링크 글자 크기 */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    color: #343A40;
}

.back-button {
    color: #343A40;
    text-decoration: none;
    font-size: 24px;
}
