<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STEP BY STEP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css]style.css') }}">
</head>
<body>
    <div class="container">
        <h1>STEP BY STEP</h1>
        <a href="{{ url_for('step1') }}">발자국</a>
        <a href="{{ url_for('step2') }}">일정 편집</a>
        <a href="{{ url_for('step3') }}">분석하기</a>
    </div>
</body>
</html>
